.registerbrand{
    margin-top: 2.2em;
    padding-left: 6.267em;
    font-size: .625em;
}
.btnregister{
    margin-top: .9em;
    font-size: 1em;
    padding-left: 7.5em;
    padding-right: 6.6em;
    padding-top: .4em;
    border-radius: 2em;
}
.registerCard{
    width: 15.4rem;
    margin-top: 7%;
    margin-left: 4.75em;
}
.registercontent{
    margin-top: 7%;
    margin-left: 25%;
}
.fafa{
    margin-left: 1em;
}
.fafaumbrella{
    font-size: 1.55em;
    margin-left: 2.835em;
    margin-top: .5em;
}
.fafamap{
    font-size: 1.55em;
    margin-left: 2.8em;
    margin-top: 1.95em;
}
.fafauser{
    font-size: 1.55em;
    margin-left: 2.85em;
    margin-top: 2.7em;
}
.registertext{
    margin-left: 2em;
}
.regcontent1{
    margin-top: .2em;
}
#reghead1{
    margin-left: 1.1em;
    font-size: .75em;
}
#regpara1{
    font-size: .7em;
    margin-top: -1.75em;
    margin-left: 10em;
}
#reghead2{
    margin-left: 1.1em;
    font-size: .75em;
}
#regpara2{
    font-size: .65em;
    margin-top: -1.8em;
    margin-left: 11em;
}
#reghead3{
    font-size: .75em;
    margin-left: 1.05em;
}
#regpara3{
    font-size: .65em;
    margin-left: 11em;
    margin-top: -1.85em;
}

.regregister{
    font-size: 1.25em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: .35em;
}
.regwith{
    margin-top: .9em;
}
.regline{
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-top:.5em;
}
#orreg{
    margin-top: .65em;
    font-size: .75em;
}
.registerForm{
    padding-left: 2.1em;
    padding-right: 1.9em;
    font-size: .65em;
}
.regformcontrol{
    height: calc(1.45rem + 4px);
    margin-bottom: .65em;
    margin-top: -.1em;
    font-size: .95em;
}
#forgetpassreg{
    font-size: .865em;
    text-align: center;
    margin-top: 1.55em;
    margin-bottom: 2.65em;
}
#regcopy{
    font-size: .6em;
    text-align: center;
    margin-top: 11.1em;
}


@media only screen and (max-width: 768px) {
    .registercontent{
        margin-top: 7%;
        margin-left: 0%;
    }
    .registerbrand{
        padding-left: 0em;
    }
    .registerCard{
        width: 15.4rem;
        margin-top: 7%;
        margin-left: 3em;
    }
    } 